@media print {
    .print-btn {
      display: none !important;
    }
    .navbar {
      display: none !important;
    }
  }

@page {
     size: auto;  
     margin: 0mm;
}

.print{
  width : 176mm  !important; 
  height : 125mm !important;
}

